<?xml version="1.0"?>
<launch>
	<arg name="_dis_amg_bot_1" default="false"/>
  	<arg name="_hn_amg_bot_1" default="192.168.0.191"/>
	<arg name="_dis_amg_bot_2" default="false"/>	
	<arg name="_hn_amg_bot_2" default="192.168.0.192"/>
	<arg name="_dis_amg_bot_3" default="false"/>	
	<arg name="_hn_amg_bot_3" default="192.168.0.193"/>
	<arg name="_dis_p3_dx" default="false"/>
	<arg name="_hn_p3_dx" default="192.168.0.181"/>
	<arg name="_dis_robotino" default="false"/>
	<arg name="_hn_robotino" default="192.168.0.107"/>
	<include file="$(find arena_unifei)/launch/run_all_up.launch">
		<arg name="_dis_amg_bot_1" value="$(arg _dis_amg_bot_1)"/>
	  	<arg name="_hn_amg_bot_1" value="$(arg _hn_amg_bot_1):8101"/>
		<arg name="_dis_amg_bot_2" default="$(arg _dis_amg_bot_2)"/>	
		<arg name="_hn_amg_bot_2" value="$(arg _hn_amg_bot_2):8101"/>
		<arg name="_dis_amg_bot_3" default="$(arg _dis_amg_bot_3)"/>	
		<arg name="_hn_amg_bot_3" value="$(arg _hn_amg_bot_3):8101"/>
		<arg name="_dis_p3_dx" default="$(arg _dis_p3_dx)"/>
  		<arg name="_hn_p3_dx" value="$(arg _hn_p3_dx):8101"/>
		<arg name="_dis_robotino" default="$(arg _dis_robotino)"/>
  		<arg name="_hn_robotino" value="$(arg _hn_robotino):12080"/>
	</include>
	<node name="arena_unifei_node" pkg="arena_unifei" type="arena_unifei_node" output="screen">
		<param name="dis_amg_bot_1_" value="$(arg _dis_amg_bot_1)"/>
		<param name="hn_amg_bot_1_" value="$(arg _hn_amg_bot_1)"/>
		<param name="dis_amg_bot_2_" value="$(arg _dis_amg_bot_2)"/>
		<param name="hn_amg_bot_2_" value="$(arg _hn_amg_bot_2)"/>
		<param name="dis_amg_bot_3_" value="$(arg _dis_amg_bot_3)"/>
		<param name="hn_amg_bot_3_" value="$(arg _hn_amg_bot_3)"/>
		<param name="dis_p3_dx_" value="$(arg _dis_p3_dx)"/>
		<param name="hn_p3_dx_" value="$(arg _hn_p3_dx)"/>
		<param name="dis_robotino_" value="$(arg _dis_robotino)"/>
		<param name="hn_robotino_" value="$(arg _hn_robotino)"/>
	</node>
</launch>
