<?xml version="1.0"?>
<launch>

	<group ns="amigobot">
		<arg name="_dis_amg_bot_1" default="false"/>
	  	<arg name="_hn_amg_bot_1" default="192.168.0.191:8101"/>
		<group ns="1" unless="$(arg _dis_amg_bot_1)">
	    		<include file="$(find arena_unifei)/launch/pioneer.launch">
				<arg name="hostname" value="$(arg _hn_amg_bot_1)"/>
			</include>
		</group>	

		<arg name="_dis_amg_bot_2" default="false"/>	
		<arg name="_hn_amg_bot_2" default="192.168.0.192:8101"/>
		<group ns="2" unless="$(arg _dis_amg_bot_2)">
	    		<include file="$(find arena_unifei)/launch/pioneer.launch">
				<arg name="hostname" value="$(arg _hn_amg_bot_2)"/>
			</include>
		</group>	
	
		<arg name="_dis_amg_bot_3" default="false"/>	
		<arg name="_hn_amg_bot_3" default="192.168.0.193:8101"/>	
		<group ns="3" unless="$(arg _dis_amg_bot_3)">
	    		<include file="$(find arena_unifei)/launch/pioneer.launch">
				<arg name="hostname" value="$(arg _hn_amg_bot_3)"/>
			</include>
		</group>
	</group>
	
	<arg name="_dis_p3_dx" default="false"/>
  	<arg name="_hn_p3_dx" default="192.168.0.181:8101"/>
	<group ns="p3_dx" unless="$(arg _dis_p3_dx)">
    		<include file="$(find arena_unifei)/launch/pioneer.launch">
			<arg name="hostname" value="$(arg _hn_p3_dx)"/>
		</include>
	</group>

	<arg name="_dis_robotino" default="false"/>
  	<arg name="_hn_robotino" default="192.168.0.107:12080"/>
	<group ns="robotino" unless="$(arg _dis_robotino)">
		<include file="$(find arena_unifei)/launch/festo.launch">
			<arg name="_hostname" value="$(arg _hn_robotino)"/>
		</include>
	</group>

</launch>
